*{
    margin: 0%;
    padding: 0%;
}

.sec-menu{
    width: 100%;
    padding: 2% 0%;
    background-color: snow;
}
.header{
    width: 100%;
    text-align: center;
    padding: 3% 0% 5% 0%;
}
.header>h1{
    color: rgb(231, 94, 15);
    font-size: 3em;
}
.header>h2{
    color: rgb(172, 109, 73);
    font-size: 2em;
}
.div-menu{
    width: 100%;
    background-attachment: fixed;
    background-position: bottom;
    background-size: 10% 15%;
    background-repeat: repeat-x;
    display: flex;
}
.div-menu>nav{
    width: 100%;
}
.menu{
    width: 100%;
    list-style: none;
}
.menu>li{
    float: left;
    text-align: center;
    width: 25%;
    font-size: 1.75em;
}
.menu>li>a{
    background-color: grey;
    color: white;
    padding: 5% 10% ;
    display: block;
    text-decoration: none;
}
.menu>li>a:hover{
    color: #000;
    background-color: #eaeaea;
}
.menu>li>ul{
    display: none;
    list-style: none;
}
.menu>li:hover>ul {
    display: block;
    list-style: none;
}
.menu>li:hover>ul>h3 {
    width: 100%;
    position: relative;
    font-size: .75em;
}

/*Seccion fisica*/
.seccion-3-1{
    background-color: wheat;
}
.row{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.titulo{
    color: rgb(82, 43, 21);
    text-align: center;
    padding: 3em 1em 0 1em;
    margin: 0 auto;
    border-bottom: solid  rgb(172, 109, 73) 1px ;
    font-size: 1.5em;
}
.titulo::after{
    content: '';
    display: block;
    border: solid 1px  rgb(172, 109, 73);
    margin: .5em 0 5px 0;
}
.inf-seccion{
    margin: 3em auto;
    padding: .5em;
    font-size: 1.5em;
    border-radius: 25px;
    border: solid gray 1px ;
    background-color: gainsboro;
}
.funciones-fisica{
    margin-left: 4em;
    padding: 0 0 0 1em;
    font-size: 1.25em;
    text-align: justify;
    border-left: solid gray 1px ;
}
.funciones-fisica>ul{
    padding-left: 2em;
    
}
.funciones-fisica>ul>li{
    padding: 1em 3em .5em 0;
    border-bottom: solid gray 1px ;
    text-align: justify;
}

.dispositivos-seccion-fisica{
    font-size: 1.5em;
    margin: 4em 3em;
    padding-bottom: 1em;
    width: 100%;
}
.dispositivos-seccion-fisica>div>h3{
    color: rgb(28, 42, 58);
}
.dispositivo-fisica{
    margin-top: 1em;
    padding: .5em 2em 1em 2em;
    border-top: solid gray 2px;
    border-bottom: solid gray 1px;
}
.dispositivo-fisica>p{
    text-align: justify;
}
.dispositivo-fisica>img{
    width: 25%;
}
.mitad-seccion-fisica{
    width: 100%;
    padding: 1em 2em;
    display: inline-flex;
}
.cuarto-seccion-fisica{
    width: 50%;
    padding: 0 1em;
    text-align: justify;
}
.cuarto-seccion-fisica>ul{
    list-style: none;
    padding: 1em;
}
.cuarto-seccion-fisica>ul>li{
    border-bottom: solid gray 1px;
    padding: 1em 0 .5em 0;
}
.cuarto-seccion-fisica>img{
    width: 75%;
}

/*Seccion enlace*/
.seccion-3-2{
    background-color: honeydew;
}
.mas-inf{
    margin: 0 auto;
    margin-bottom: 2em;
    padding: .5em;
    font-size: 1.5em;
}
.articulos{
    padding-top: 3em;
    margin: 1% auto;
    width: 80%;
    text-align: left;
    background-color: floralwhite;
    border-radius: 30px;
}
.articulo{
    margin-bottom: 1em;
    margin-right: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
    border-bottom: solid gray 1px ;
    border-left: solid gray 1px;
    align-items: center;
    font-size: 1.2em;
}
.inf-articulo>h5{
    font-size: 1em;
}
.inf-articulo>ul{
    padding-left: 2em;
    font-size: .9em;
}

/*Seccion superiores*/
.seccion-3-4{
    background-color: cornsilk;
}
.inf-seccion>h5{
    text-align: left;
    padding-left: 1em;
    font-size: 1em;
}
.inf-seccion>ul{
    text-align: left;
    padding-left: 3em;
    font-size: .8em;
    line-height: 1.5em;
}

