*{
    margin: 0%;
    padding: 0%;
}

.sec-menu{
    width: 100%;
    padding: 2% 0%;
    background-image: url('/img/patron.jpg');
}
.header{
    width: 100%;
    text-align: center;
    color: rgb(231, 94, 15);
    padding: 3% 0% 3% 0%;
    font-size: 190%;
}
.div-menu{
    width: 100%;
    background-image: url('/img/shar.jpg');
    background-attachment: fixed;
    background-position: bottom;
    background-size: 10% 15%;
    background-repeat: repeat-x;
    display: flex;
}
#menu{
    width: 100%;
    list-style: none;
}
#menu li{
    float: left;
    text-align: center;
    width: 25%;
}
#menu li>a{
    background-color: grey;
    color: white;
    padding: 10%;
    display: block;
    text-decoration: none;
}
#menu li>a:hover{
    color: #000;
    background-color: #eaeaea;
}
#menu>li>ul{
    display: none;
}
#menu>li:hover>ul {
    display: block;
    list-style: none;
}
#menu>li:hover>ul>li {
    width: 100%;
    position: relative;
}

.Tema-2-1{
    width: 100%;
    padding: 2% 0%;
    background-color: lavender;
}


.Tema-2-2{
    width: 100%;
    padding: 2% 0%;
    background-color: lightyellow;
}


.Tema-2-3{
    width: 100%;
    padding: 2% 0%;
    background-color: azure;
}


.Tema-2-4{
    width: 100%;
    padding: 2% 0%;
    background-color:seashell;
}
.pie-ul{
    padding: 2% 1%;
    background-color: black;
    width: 98%;
    color: white;
    display: inline-flex;
}
.titulofin{
    font-size: 80%;
}

h2{
    font-size: 200%;
    color: coral;
}
h3{
    font-size: 150%;
    color: darkgoldenrod;
}
h4{
    font-size: 130%;
    color: olivedrab;
}
h5{
    font-size: 110%;
}
p{
    text-align: justify;
}